body{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 18vh;
    background-color: #4485D0;
    background-image: url('../img/pattern.png');
}

.logo-head{
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 6%;
    width: 15%;
}

main{
    margin-left: 3%;
    margin-right: 3%;
}

aside{
    margin-left: 3%;
    margin-right: 3%;
}

.scritto{
    color: lightgray;
}

.autore{
    color: #2FAFE7;
}

.data{
    color: lightgray;
    font-size: 90%;
}

.photo-detail{
    font-size: 85%;
}

.paragraph{
    margin-bottom: 30px;
}

ul{
    padding: 20px;
}

thead{
    color: white;
    background-color: #4485D0;
}

th{
    width: 30%;
    text-align: left;
    padding-left: 15px;
}

.on{
    background-color: rgba(0,255,255,0.3);
}

table{
    margin-bottom: 40px;
}

td{
    padding: 15px;
}

h2{
    color: gray;
}

.title-aside{
    font-size: 30px;
    color: white;
    background-image: url('/img/monitor.jpg');
    background-repeat: no-repeat;
    height: 220px;
}

.title-aside2{
    font-size: 30px;
    color: white;
    background-image: url('/img/graph.jpg');
    background-repeat: no-repeat;
    height: 220px;
}